body, html {
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background: rgb(37,37,37);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-shadow: 2px 2px black;
    box-shadow: 1px 5px 10px red; /*appears to display under the background image*/

}

.container {
    background-image: url("../img/weather_map_imgs/sky_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    padding: 1em;
}
li {
    list-style: none;
}

.bg-image {
    /* The image used */
    background-image: url("photographer.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (max-width:576px) {
    body {
        background: white;
    }
    #weather-current {
        border: 1px solid green;
        text-align: center;
        /*width: 50%;*/
    }
    #weather-current li:nth-child(2) {
        font-size: 8em;
    }
    #map {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    body {
        background: red;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    body {
        background: blue;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    body {
        background: pink;
    }
}


#map {
    width: 65vh;
    height: 65vh;
    margin: auto;
    border-radius: 10px;
}
